* {
    border: 0;
    padding: 0;
    font-family: 'ubuntu';
}

body {
   background-image: linear-gradient(to bottom, rgba(21, 100, 247, 0.8), rgba(86, 137, 231, 0.8));
   height: 100vh;
   overflow: hidden;
}

@font-face {
    font-family: 'ubuntu';
    src: url(fonts/Ubuntu-Bold.ttf) format('truetype');
}

h3 {
    font-size: 32px;
}

p {
    font-size: 20px;
}

hr {
    width: 100%;
    height: 2px;
    background: #fff;
}

span {
    height: 30px;
    width: 1px;
    background-color: #fff;
}

input:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

input::placeholder{
    padding-left: 5px;
}

#container {
    position: absolute;
    width: 350px;
    height: 150px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(21, 100, 247, 0.8);
    align-items: center;
    border-radius: 20px;
    transition: all 0.6s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#field-search{
    position: absolute;
}

#field-search h2{
    font-size: 21px;
    margin-left: 26px;
    color: #fff;
}

#img-glass {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

#input-city {
    position: absolute;
    height: 40px;
    width: 200px;
    border: solid black 1px;
    margin: 2px 32px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-family: sans-serif;
    padding-left: 5px;
}

#btn-load{
    position: absolute;
    width: 75px;
    height: 40px;
    background-color: rgb(114, 162, 233);
    margin-left: 240px;
    margin-top: 2px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

#btn-load:hover {
    background-color: rgb(147, 182, 235);
}

#city-error {
    display: none;
    align-items: center;
    justify-content: center;
    color: #516be0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    height: 130px;
    width: 250px;
    background-color: rgb(255, 255, 255, 0.4);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    backdrop-filter: blur( 4.5px );
}

#city-error h4 {
    margin: 2px;
}

#city-error button {
    position: absolute;
    bottom: 6px;
    height: 30px;
    width: 150px;
    border-radius: 8px;
    color: #fff;
    background: #5a6fca;
    transition: all 1s;
}

#city-error button:hover {
    color:  #5a6fca;
    background-color: #fff;
    cursor: pointer;
}

.to-close::before, .to-close::after {
    content: "";
    position: absolute;
    height: 12px;
    width: 1.6px;
    background: #fff;
    right: 14px;
    top: 8px;
}

.to-close::before {
    transform: rotate(45deg);
}

.to-close::after {
    transform: rotate(-45deg);
}

.to-close:hover {
    cursor: pointer;
}

#info-tempField{
    position: absolute;
    height: 360px;
    width: 250px;
    margin-left: 50px;
    color: white;
    flex-direction: column;
    display: none;
    margin-top: 50px;
}

#info-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#receiver-temperature {
    display: flex;
    align-items: center;
    justify-content: center;
}


#field-climate {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 25px;
}


#climate {
    display: flex;
    justify-content: center;
    margin-top: 22px;
}

#details-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#details-container span {
    margin: 6px;
}

.field-clouds{
    position: fixed;
    display: flex;
    bottom: 0px;
}

.clouds-bottom {
    position: relative;
    width: 170px;
    height: 50px;
    background-color: #fff;
    bottom: 0px;
    left: -12px;
    padding-left: 20px;
    border-radius: 40px 40px 0px 0px;
}

.clouds-bottom::before {
    content: '';
    position: absolute;
    top: -28px;
    left: 18px;
    width: 60px;
    height: 56px;
    background-color: rgb(255, 255, 255);
    border-radius: 100px;
    box-shadow: 55px 0px 0 15px rgb(255, 255, 255);
}

